<html>
    <head>
        <title>Simple form</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.id.label }} {{ form.id }}
                <br>
                {{ form.location_id.label }} {{ form.location_id }}
                <br>
                {{ form.bird_id.label }} {{ form.bird_id }}
                <br>
                {{ form.recorded.label }} {{ form.recorded }}
                <br>
                {{ form.gender.label }} {{ form.gender }}
                <br>
                {{ form.life_stage.label }} {{ form.life_stage }}
                <br>
                {{ form.number.label }} {{ form.number }}
                <br>  
                {{ form.submit }}
            </form>
        </div>
    </body>
</html>
