<html>
       <head>
          <title>Sightings</title>
       </head>

       <body>
          <table>
             <tr>
                <th>location_id</th>
                <th>bird_id</th>
                <th>recorded</th>
                <th>gender</th>
                <th>life_stage</th>
                <th>number</tr>
             </tr>

              {% for sighting in sightings %}
              
              {{sighting.location_id}}
              {{sighting.bird_id}}
              {{sighting.recorded}}
              {{sighting.gender}}
              {{sighting.life_stage}} 
              {{sighting.number}}
              
              {% endfor %}
          </table>
          {% endif %}
       </body>
</html>       
