{% extends 'layout.html' %}
{% block body_content %}

<h2>Locations</h2>

<table>
        <tr>
        <th>place_name</th>
        <th>county</th>
        <th>country</th>
        </tr>

        {% for location in all_locations %}
              
        {{location.place_name}}
        {{location.county}}
        {{location.country}}
        
        <div>
        <form action='{{ url_for('updatelocation', id=id) }}'>
        <button>Update<button>
        </form>
        <form action='{{ url_for('deletelocation', id=id) }}'>
        <button>Delete</button>
        </form>
        </div>
        
        <br><br>

        {% endfor %}
</table>

<h2>Birds</h2>

<table>
        <tr>
        <th>scientific_name</th>
        <th>common_name</th>
        </tr>

        {% for bird in all_birds %}
              
        {{bird.scientific_name}}
        {{bird.common_name}}
        
        <div>
        <form action='{{ url_for('updatebird', id=id) }}'>
        <button>Update<button>
        </form>
        <form action='{{ url_for('deletebird', id=id) }}'>
        <button>Delete</button>
        </form>
        </div> 
         
        <br><br>        
      
        {% endfor %}
</table>

<h2>Sightings</h2>

<table>
        <tr>
        <th>location_id</th>
        <th>bird_id</th>
        <th>recorded</th>
        <th>gender</th>
        <th>life_stage</th>
        <th>number</tr>
        </tr>

        {% for sighting in all_sightings %}
              
        {{sighting.location_id}}
        {{sighting.bird_id}}
        {{sighting.recorded}}
        {{sighting.gender}}
        {{sighting.life_stage}} 
        {{sighting.number}}
        
        <div>
        <form action='{{ url_for('updatesighting', id=id) }}'>
        <button>Update<button>
        </form>
        <form action='{{ url_for('deletebirdsighting', id=id) }}'>
        <button>Delete</button>
        </form>
        </div>

        {% endfor %}
</table>

{% endblock body_content %}
     
